.git {
  padding: 0 2%;
  color: white;
}

.link {
  padding: 0 2%;
  color: white;
}

.titleSection {
  /* background-image: url(./images/background.jpg); */
  width: auto;
  height: 90vh;
}

.tools {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

li {
  font-size: 20px;
}

.about_section {
  width: 50%;
}
.about_and_tools {
  display: flex;
  flex-direction: row;
  margin: 7% 0;
}

.aboutDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1%;
  padding: 1%;
}

.tools_tool{
  width: 50%;
}

.tools{
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 600px) {
  .about_and_tools {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about_section{
    width: auto;
  }
  
  .aboutDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .tools_tool{
    width: 100%;
  }
  .makeStyles-tools_about-16{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .jss19{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

