.git {
  padding: 0 2%;
  color: white;
}

.link {
  padding: 0 2%;
  color: white;
}

.titleSection {
  background-image: url(./images/background.jpg);
  width: auto;
  height: 90vh;
}

.tools {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.tool {
  padding: 0 9%;
}

li {
  font-size: 20px;
}

@media (max-width: 600px) {
  .jss2{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .jss3{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

