.git {
  padding: 0 2%;
  color: white;
}

.link {
  padding: 0 2%;
  color: white;
}

.titleSection {
  background-image: url(./images/background.jpg);
  width: auto;
  height: 90vh;
}

.tools {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.tool {
  padding: 0 9%;
}

li {
  font-size: 20px;
}

.about_section {
  border: 2px solid red;
  width: 50%;
}
.about_and_tools {
  display: flex;
  flex-direction: row;
}

.aboutDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1%;
  padding: 1%;
}

.tools_tool{
  border: 2px solid blue;
  width: 50%;
}

@media (max-width: 600px) {
  .about_and_tools {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid red;
    /* width: 100%; */
  }

  .about_section{
    width: auto;
  }
  
  .aboutDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid blue;
    justify-content: center;
    /* width: 100%; */
  }
  .tools_tool{
    width: 100%;
  }
  .makeStyles-tools_about-16{
    display: flex;
    border: 2px solid red;
    align-items: center;
    flex-direction: column;
    /* width: 100%; */
  }
  /* .jss2{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .jss14{
    display: flex;
    flex-direction: column;
  }
  .jss21{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .makeStyles-tools_and_about-2{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .makeStyles-aboutDiv-16{
    display: flex;
    flex-direction: column;
    border: 2px solid red;
  }
  .jss21{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
   */
}

